.black{
    background-color: rgb(150, 124, 38);

    
}
.white{
    background-color:white;
}
table{
    
    box-sizing: border-box;
    border-color: rgba(151, 126, 16, 0.884);
 
}
th{
    border-collapse: collapse;
    height: 40px;
    width: 45px;
}
img{
    mix-blend-mode:multiply;
   
}
